div{
    margin: 15px;
}
.izq{
    background-color: rgb(185, 105, 0);
    color: black;
    float: right;

}
.der{
    background-color: blueviolet;
    color: black;
    float: left;
}
p{
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    width: 30%;
    height: 190px;
    overflow: scroll;
    background-color: rgb(30, 206, 24);
    color: aliceblue;
}
h1{
    text-align: center;
}
p{
    text-align: center;
}
a{
    background-color: aqua;
    color: blueviolet;
}
body{
    background-color: bisque;
}